.gradle
build
core/observable/build
core/reflectutil/build
core/widgettree/build
animation/build
audio/build
controls-defaultlook/build
css/build
desktop/build
document/build
geom/build
graphics/build
input/build
layout-constraint/build
layout-model/build
lottie/build
media/build
platform/awt/build
platform/dom/build
platform/lottie-web/build
text/build
webcontent/build

# copy these from e.g. Chrome's binaries (C:\Program Files\Google\Chrome\Application\149.0.7827.103)
libEGL.dll
libGLESv2.dll
